/* navbar start */
.dark-mode .nav-link {
  color: var(--text_white) !important;
}
.dark-mode .tick-icons {
  color: red !important;
}
.dark-mode .nav-item .active {
  background-color: #003030;
}
.dark-mode #navbarSupportedContent ul li:hover > a {
  background-color: #003030;
}
/* navbar end */
